* {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", serif;
    box-sizing: border-box;
}
.cursor{
    height: 15px;
    width: 15px;
    position: fixed;
    background-color: var(--primary-color);
    border-radius: 50%;
    z-index: 999;
    transition: all ease 0.2s;
}

:root {
    --primary-color: #153C33;
    --secondary-color: #E6EFED;
    --text-color: #153C33B3;
    --accent-color: #619E90;
    --white-color: #FFFFFF;
    --divider-color: #FFFFFF26;
    --dark-divider-color: #153C331A;
    --error-color: rgb(230, 87, 87);
}

h2 {
    font-size: 4em;
    font-weight: 800;
}

p {
    font-size: 1.25em;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-color);
}

.default_button {
    display: inline-block;
    padding: 15px 55px 15px 20px;
    text-decoration: none;
    background: var(--accent-color);
    color: var(--white-color);
    font-size: 1em;
    text-transform: capitalize;
    border-radius: 60px;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
}

.default_button::before {
    content: '';
    height: 36px;
    width: 36px;
    display: inline-block;
    background-image: url(assests/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg);
    background-position: center center;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    border-radius: 50%;
    line-height: 1.1em;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(10px, -50%);
    transition: all 0.5s ease-in-out;

}

.default_button::after {
    content: '';
    display: block;
    width: 0;
    height: 102%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 60px;
    background: var(--primary-color);
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.light_btn{
    background: var(--white-color);
    color: var(--text-color);
}
.light_btn::after{
    background:var(--accent-color);
}
.light_btn:hover{
    color: var(--white-color);
}
.default_button:hover:after {
    width: 100%;
}

.default_button:hover:before {
    background: var(--accent-color);
    background-image: url(assests/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.default_button.light_btn:hover::before{
    background: var(--text-color);
    background-image: url(assests/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.divider{
    display: block;
    width: 100%;
    height: 3px;
    background: var(--dark-divider-color);
    margin-top: 40px;
}
/*---------HOME---------*/
.home {
    background: var(--secondary-color);
    padding: 30px 0;
}

.hero-content h2{
   color: var(--primary-color);
}
.hero-content{
    color: var(--accent-color);
}

.hero-button-box  .light_btn{
margin-left: 40px;
}
.showcase-number {
    margin: 40px 0;
}
.showcase-number h3{
    font-weight: 900;
    margin-bottom: 5px;
}
.showcase-number p{
    font-size: 1em;
}