* {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html,body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.cursor {
    height: 15px;
    width: 15px;
    position: fixed;
    background-color: var(--primary-color);
    border-radius: 50%;
    z-index: 999;
    box-shadow: 1px 1px 2px grey;
    pointer-events: none;
}

:root {
    --primary-color: #153C33;
    --secondary-color: #E6EFED;
    --text-color: #153C33B3;
    --accent-color: #619E90;
    --white-color: #FFFFFF;
    --divider-color: #FFFFFF26;
    --dark-divider-color: #153C331A;
    --error-color: rgb(230, 87, 87);
}
.logo-img{
    width: 80px;
}
.unipadding {
    padding: 120px 60px 60px 60px;
}

h2 {
    font-size: 4em;
    font-weight: 800;
}

h3 {
    font-size: 3em;
    font-weight: 800;
}

p {
    font-size: 1.25em;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-color);
}

.default_button {
    display: inline-block;
    padding: 15px 55px 15px 20px;
    text-decoration: none;
    background: var(--accent-color);
    color: var(--white-color);
    font-size: 1em;
    text-transform: capitalize;
    border-radius: 60px;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
}

.default_button::before {
    content: '';
    height: 36px;
    width: 36px;
    display: inline-block;
    background-image: url(assests/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg);
    background-position: center center;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    border-radius: 50%;
    line-height: 1.1em;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(10px, -50%);
    transition: all 0.5s ease-in-out;

}

.default_button::after {
    content: '';
    display: block;
    width: 0;
    height: 102%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 60px;
    background: var(--primary-color);
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.light_btn {
    background: var(--white-color);
    color: var(--text-color);
}

.light_btn::after {
    background: var(--accent-color);
}

.light_btn:hover {
    color: var(--white-color);
}

.default_button:hover:after {
    width: 100%;
}

.default_button:hover:before {
    background: var(--accent-color);
    background-image: url(assests/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.default_button.light_btn:hover::before {
    background: var(--text-color);
    background-image: url(assests/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.divider {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--dark-divider-color);
    margin-top: 40px;
}


/*------------Header------------*/

  
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
    background-color: var(--primary-color);
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  
  .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .logo a span {
    color: #8739fa;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: #fff;
  }
  
  .menu:hover a {
    opacity: 0.4;
  }
  
  .menu a:hover {
    opacity: 1;
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
  }
  .menu li {
  list-style: none;
  }
  .menu li a{
    text-decoration: none;
 }
  
  
  @media only screen and (max-width: 950px) {
    .menu {
      flex-direction: column;
      background-color: #151418;
      align-items: start;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  
    .menu a {
      margin-left: 12px;
    }
  
    .menu li {
      margin-bottom: 10px;
    }
  
    .menu-icon {
      display: block;
      color: #fff;
      font-size: 28px;
      cursor: pointer;
    }
}

/*---------HOME---------*/

.home {
    background: var(--secondary-color);
}

.hero-content h2 {
    color: var(--primary-color);
}

.hero-content {
    color: var(--accent-color);
}


.hero-button-box .light_btn {
    margin-left: 40px;
}
.home-img{
    display: flex;
    justify-content: center;
    padding-left: 50px;
}
/* .home-img img{
    max-width: 450px;
} */
.showcase-number {
    margin: 40px 0;
}

.showcase-number h3 {
    font-weight: 900;
    margin-bottom: 5px;
}

.showcase-number p {
    font-size: 1em;
}

/*info*/
.info {
    background: var(--primary-color);
    padding: 50px 15px 0px 15px;
    color: white;
}

.info-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 30px;
    padding: 10px 15px 10px 0;
}

.info-logo {
    position: relative;
    height: 64px;
    width: 64px;
    background-color: var(--divider-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden;
    left: 0;
    z-index: 1;
}

.info-logo::before {
    z-index: -1;
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--white-color);
    transition: all ease-in 0.6s;
    display: block;
    transform: scale(0);
    border-radius: 10px;
}

.info-container:hover ::before {
    transform: scale(1);
}


.info-content {
    width: calc(100% - 80px);
}

.info-content h3 {
    font-size: 1.15em;
    text-transform: capitalize;
    font-weight: 900;
}

.info-content p {
    font-size: 1em;
    text-transform: capitalize;
    display: inline-block;
    color: var(--white-color);
}


/*ABOUT*/

#about_span,
.why-block,
.solution-block,
.client-block,
.contact-block {
    background: var(--secondary-color);
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    color: var(--primary-color);
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
}

.about-content h3 {
    color: var(--accent-color);
    margin: 25px 0;
}

.about-list {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 25px 0 10px 0;
}

.about-list p {
    margin: 0;
    margin-left: 15px;
    color: var(--text-color);
}

.dr-box {
    margin-top: 40px;

}

.about-dr h5 {
    font-size: 1.15em;
    font-weight: 900;
    margin-bottom: 5px;

}

.about-dr p {
    font-size: 1em;
    margin-top: 0;
    margin: 0;

}

.about-dr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.about-image img {
    border-radius: 20px;
    /* width: 100%; */
}

.doc_image {
    overflow: hidden;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: var(--secondary-color);
}


/*SERVICE*/

.service-block {
    padding: 30px 25px 40px 25px;
    border: 1px solid var(--dark-divider-color);
    border-radius: 20px;
    height: calc(100% - 30px);
    margin-top: 30px;
    position: relative;
}

.service-logo {
    height: 55px;
    width: 55px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.service-block h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.service-block p {
    font-size: 17px;
    margin: 0;
}

.service-block::after {
    content: " ";
    height: 0%;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--accent-color);
    z-index: -1;
    border-radius: 10px;
    transition: all ease-out 0.5s;
}

.service-block:hover {
    color: var(--white-color);
}

.service-block:hover p {
    color: var(--white-color);
}

.service-block:hover .service-logo {
    background: var(--white-color);
}

.service-block:hover::after {
    height: 100%;
}

.service-block:hover .service-cta-btn::after {
    width: 102%;
}

.service-block:hover .service-cta-btn::before {
    background-color: var(--divider-color);
}

.service-cta-btn {
    display: inline-block;
    padding: 15px 55px 15px 20px;
    text-decoration: none;
    background: var(--accent-color);
    color: var(--white-color);
    font-size: 1em;
    text-transform: capitalize;
    border-radius: 60px;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
}

.service-cta-btn::before {
    content: '';
    height: 36px;
    width: 36px;
    display: inline-block;
    background-image: url(assests/reshot-icon-arrow-chevron-right-WDGHUKQ634.svg);
    background-position: center center;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    border-radius: 50%;
    line-height: 1.1em;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(10px, -50%);
    transition: all 0.5s ease-in-out;

}

.service-cta-btn::after {
    content: '';
    display: block;
    width: 0;
    height: 102%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 60px;
    background: var(--primary-color);
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.service span {
    color: var(--accent-color);
}


/*Why Us*/
.whyUs {
    position: relative;
    overflow: hidden;
}

.block-us {
    display: flex;
    align-items: center;
    padding: 35px;
}

.block-us:nth-child(1) {
    border-bottom: 1px solid var(--accent-color);
}

.block-us:nth-child(2) {
    border-bottom: 1px solid var(--accent-color);
}


.block-us-logo {
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    border-radius: 10px;
    margin-right: 15px;
}

.block-us-content {
    width: calc(100% - 150px);
}

.block-us-content h5 {
    font-size: 1.15em;
    font-weight: 700;
    margin-bottom: 10px;
}

.block-us-content p {
    font-size: 1em;
    margin: 0;

}

.block-us-2 {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

.block-us-2 .block-us-logo {
    margin-left: 15px;
    background: var(--white-color);
    margin-right: 0;
}

.left-Us {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 25px 0 0 25px;
    overflow: hidden;
}

.left-Us p {
    color: var(--white-color);
    font-size: 1em;
}

.right-Us {
    background-color: var(--secondary-color);
    border-radius: 0px 25px 25px 0px;
}
.registration-form{
    border: 2px solid red;
}
.why-us-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
}

.why-us-title {
    max-width: 650px;
    text-align: center;
    margin: 15px auto;
}

.why-us-image img {
    width: 175px;
}

.why-us-title span {
    color: var(--accent-color);
}

.solution {
    padding: 100px 0;
    text-align: center;
    background:
        linear-gradient(#153c33c2, #153c33c2),
        /* Semi-transparent overlay */
        url(./assests/asset\ 60.jpeg
);
    /* Background image */
    background-size: cover;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.solution h3 {
    margin: 30px;
    color: var(--white-color);
}

.solution p {
    margin: 30px;
    color: var(--white-color);
    font-weight: 600;
}

.common_section {
    background-color: var(--secondary-color);
    background-image: url(/assests/asset\ 67.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 20px;
}

.common_section_img {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.common_section_img img {
    width: 100%;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.client-box p {
    font-size: 1em;
    text-align: left;
}

.client-box {
    position: relative;
    height: 100%;
    padding: 30px;
    border: 2px solid var(--white-color);
    border-radius: 15px;
    background-color: var(--white-color);
}

.client-name {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 1.05em;
    text-transform: capitalize;
}

.client {
    margin: 30px 0;
    color: var(--primary-color);
}

.client-title {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.clients {
    background-image: url(./assests/asset\ 67.svg);
    background-color: var(--secondary-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.innerbox {
    padding: 30px;
    outline: 1px solid var(--accent-color);
    border-radius: 20px;
    height: 100%;
}

.innerbox p {
    font-size: 1.05em;
}

.contact-box {
    max-width: 700px;
    text-align: center;
    margin: 15px auto;
    color: var(--primary-color);
}

.map iframe {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.contact-icon {
    height: 50px;
    width: 50px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    outline: none;
    border: none;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.contact-box h3 {
    margin: 30px 0;
    color: var(--accent-color);
}



@media screen and (max-width : 990px) {
    .unipadding {
        padding: 80px 25px;
    }

    .block-us-2 {
        flex-direction: row;
        text-align: left;
    }

    .block-us-2 .block-us-logo {
        margin-left: 0;
        margin-right: 15px;
    }

    .block-us-content {
        width: calc(100% - 50px);
    }
    .right-Us{
        border-radius: 0px 0px 0px 0px;
    }
    .left-Us{
        border-radius: 0px 0px 0px 0px;
    }
    .logo-img{
        width: 60px;
    }
}


.enquiry{
    background: var(--white-color);
}

footer{
    text-align: center;
    padding: 10px;
    background: var(--secondary-color);
}
footer a{
    text-decoration: none;
    color: var(--primary-color);
}
#Gallery {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
#Gallery h3{
    margin: 20px 0;
    color: var(--primary-color);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    aspect-ratio: 3/4;
    object-fit: cover;
}
.gallery img:hover {
    transform: scale(1.05);
}